@use "sass:color";

// Background color utility mixin
@mixin bg-color-variant($name: ".bg-primary", $color: $primary-color) {
  #{$name} {
    background: $color !important;

    // Convert color to sRGB then get r, g, b channels for luminance calculation.
    $srgb-color: color.change($color, $space: srgb); // Ensure $space: srgb is unquoted
    $r: color.channel($srgb-color, "red") / 255;
    $g: color.channel($srgb-color, "green") / 255;
    $b: color.channel($srgb-color, "blue") / 255;
    $luminance: 0.2126 * $r + 0.7152 * $g + 0.0722 * $b;
    @if $luminance < 0.6 { // If luminance is less than 0.6, consider it dark
      color: $light-color;
    }
  }
}

// Text color utility mixin
@mixin text-color-variant($name: ".text-primary", $color: $primary-color) {
  #{$name} {
    color: $color !important;
  }

  a#{$name} {
    &:focus,
    &:hover {
      color: color.adjust($color, $lightness: -5%);
    }
    &:visited {
      color: color.adjust($color, $lightness: 5%);
    }
  }
}
